.titleInPlants {
    color: #4C864A;
    font-size: 24px;
    margin-left: 24px;
}

.plantasIn {
  align-items: center;
    display: flex;
    justify-content: center;
    
}
.plantasInteriores {
  border-radius: 32px;
  max-width: 350px;
  max-height: 350px;
}